@font-face {
	font-family: "Trirong";
	src: url("../fonts/Trirong-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Muli";
	src: url("../fonts/Muli-Light.ttf") format("truetype"),
	url("../fonts/Muli-Black.ttf") format("truetype"),
	url("../fonts/Muli-SemiBold.ttf") format("truetype");
}

a { 
	text-decoration: none;
}

body {
	font-family: 'Muli', sans-serif;
	margin: 0;
	cursor: default;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 10px !important;
	padding-right: 10px !important;
}


/*-------------Header (Screen #1) -----------*/


.header__line {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 66px 0 0;
}

.header {
	background: #2b2d5c url(../img/background.png) center no-repeat;
	max-width: 100%;
	height: 900px;
	position: relative;
}

.header__line {
	margin-bottom: 54px;
}

.header__logo {
	font-family: 'Muli Black', sans-serif;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 900;
}

.header__logo a {
	color: #fff;
}

.header__menu {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	
}

.header__menu a {
	color: #fff;
	text-decoration: none;
	margin-left: 24px;
	webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.header__menu a:hover {
	border-bottom: 1px solid #FFEB00;
	padding-bottom: 4px;
}

.header__plus {
	background: #fff;
	height: 100px; 
	width: 1px;
	position: relative; 
	left: 50px;
	margin-bottom: 95px;
}

.header__plus::after {
	content: "";
	height: 1px; 
	width: 100px;
	background: #fff;
	position: absolute; 
	left: -50px; 
	top: 50px;
}

.header__plus--social {
	height: 161px;
	left: -125px;
	margin-bottom: 0;
}

.header__plus--social::after {
	width: 382px;
	left: -97px;
	top: 78px;
}

.header__title {
	font-size: 60px;
	font-family: 'Trirong', sans-serif;
	color: #fff;
	line-height: 70px;
	margin-bottom: 39px;
}

.header__title span {
	display: block;
}

.header__description {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 53px;
	
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row--around {
	justify-content: space-around;
}

.header__bottom {
	margin-top: 80px;
}

.header__square {
	background:  url('../img/squares.png');
	width: 160px;
	height: 163px;
}
.header__scroll {
	margin-top: 70px;
	animation: swing 1.5s ease;
	animation-iteration-count: 2;
	transition: 0.2s ease;
}
.header__scroll:hover {
	margin-top: 72px;
}
.header__social {
	background:  url('../img/squares-r.png');
	width: 160px;
	height: 163px;
}

.social__item {
	position: absolute;
	bottom: 0;
	right: 55px;
	margin-bottom: 30px;
}

.social__item i {
	padding-right: 25px;
	color: #fff;
	font-size: 24px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.social__item i:hover {
	color: #FFEB00;
}


/*-------------About (Screen #2) -----------*/

.about {
	background: #f7f7fc;
	height: 780px;
	margin-bottom: 150px;
}

.about__place {
	padding-top: 100px;
}

.about__left {
	max-width: 100%;
}

.about__right {
	margin-right: auto;
	margin-left: 136px;
	max-width: 734px;
}

.about__title {
	font-size: 40px;
	font-family: 'Trirong', sans-serif;
	color: #2b2d5c;
	padding-bottom: 30px;
}

.about__text {
	font-size: 16px;
	color: #595666;
}

.about__work {
	font-family: 'Trirong', sans-serif;
	padding: 36px 0 36px 0;
	font-size: 26px;
	color: #2b2d5c;
}

.about__block {
	font-size: 16px;
	font-weight: bold;
	line-height: 2.375;
	color: #595666;
	width: 130px;
}

.about__block img {
	padding-top: 20px;
}


/*-------------Clients (Screen #3) -----------*/

.clients {
	background: #3b3d69  url(../img/advantage.png) center no-repeat;
	max-width: 100%;
	/* background-size: cover; */
	height: 297px;
	margin-bottom: 100px;
}

.clients__title {
	font-size: 40px;
	color: #fff;
	font-family: 'Trirong', sans-serif;
	text-align: center;
	line-height: 0.75;
	padding: 70px 0 50px 0;
}

.clients__image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75px;
}

.clients__plus {
	background: #2b2d5c;
	height: 279px;
	width: 1px;
	position: relative; 
	left: -30px;
	margin-bottom: 95px;
	top: -225px;
}

.clients__plus::after {
	content: "";
	height: 1px; 
	width: 497px;
	background: #2b2d5c;
	position: absolute; 
	left: -80px; 
	top: 230px;
}


/*-------------Portfolio (Screen #4) -----------*/

.portfolio {
	margin-bottom: 100px;
}

.portfolio__left {
	background: #f2c200;
	height: 840px;
	position: relative;
	border-right: 50px #f7f7fc solid;
}

.portfolio__left::after {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 110%;
	height: 100%;
	border: 1px solid #4d407c;
	content: "";
}

.portfolio__center {
	max-width: 370px;
}

.portfolio__center img {
	max-width: 100%;
}

.portfolio__right {
	max-width: 705px;
	margin-right: auto;
}

.portfolio__right img {
	max-width: 100%;
}


.portfolio__block {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	margin-left: 30px;
	font-size:0;
 }
 
 .portfolio__block:hover .hover{
	opacity: 1;
	height: 100%;
	width: 100%;
 }
   
 .hover {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
   
 
 .union__hover {
	width: 100%;
	height:  100%;
	background: #2b2d5c;
	opacity: 0.6;
  
 }
 
 .union {
	background: url(../img/union.png) center no-repeat;
	width: 100%;
	height: 100%;
 
 }
 .portfolio__center .portfolio__block {
	margin-left: 0;
 }
 
 
 .portfolio__social {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: 30px;
 }
 .portfolio__social span {
	display: block;
	color: #fff !important;
	margin-bottom: 6px;
 }
 .fa.fa-share-alt {
	 color: #fff !important;
 }
 
 .portfolio__social i {
	padding: 0 10px 0 10px;
	color: #FFEB00;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-size:16px;
 }
 
 
 .portfolio__social i:hover {
	color: #fff;
 }

 .portfolio__row {
	display: flex;
	flex-wrap: nowrap;
 }

.portfolio__title {
	font-family: 'Trirong', sans-serif;
	font-size: 40px;
	color: #2b2d5c;
	padding: 220px 75px 0 75px;
	width: 340px;
}

.portfolio__text {
	font-size: 16px;
	margin-top: 70px;
}

.portfolio__text span {
	padding-top: 39px;
	display: block;
	font-weight: bold;
}


/*-------------Blog (Screen #5) -----------*/

.blog {
	background: #fafafd;
	padding-top: 70px;
	max-height: 785px;
}

.blog__block_left, .blog__block_center, .blog__block_right {
	width: 450px;
}
.blog__tile {
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.blog__tile img {
	max-width: 100%;
}

.blog__tile:hover {
	box-shadow: 0px 0px 82px 2px rgb( 43, 46, 102,0.20 );
}

.blog__content {
	font-size: 20px;
	color: #2b2d5c;
	padding: 30px 35px 0 35px;
	font-weight: bold;
	background: #fff;
	margin-top: -4px;
}

.blog__date {
	font-size: 15px;
	padding-top: 30px;
	background: #fff;
}

.blog__date span {
	font-weight: normal;
} 

.blog__text {
	font-size: 16px;
	color: #595666;
	padding-top: 30px;
}

.blog__more {
	font-size: 16px;
	padding-top: 30px;
	position: relative;
	z-index: 1;
	width: 80px;
	padding-bottom: 85px;

}
.blog__more a {
	color: #595666;
}

.blog__more::after {
	position: absolute;
	top: 39px;
	left: 0;
	width: 115%;
	height: 10px;
	background: #FFEB00;
	content: "";
	z-index: -1;
}

.blog__description_title {
	font-family: 'Trirong', sans-serif;
	font-size: 40px;
	color: #2b2d5c;
	text-align: center;
	padding-bottom: 50px;
	background: #fafafd;
}

.blog__description {
	display: block;
	font-size: 20px;
	color: #2b2d5c;
	padding-bottom: 50px;
	background: #fafafd;
}

.blog__plus {
	background: #2b2d5c;
	height: 143px;
	width: 2px;
	position: relative; 
	left: 140px;
    top: 1px;
}

.blog__plus::after {
	content: "";
	height: 2px; 
	width: 256px;
	background: #2b2d5c;
	position: absolute; 
	left: -135px; 
	top: 66px;
}

.blog__plus--right {

}



/*-------------Contact (Screen #6) -----------*/

.contact {
	background: #2b2d5c  url(../img/contact.png) center no-repeat;
	border-bottom: 1px #55577d solid;
	max-width: 100%;
	height: 527px;
	margin-top: 190px;
}
.contact a {
	color: #2c2e5d;
}

.contact__form {
	text-align: center;
	padding-top: 60px;
}

.contact__title {
	font-family: 'Trirong', sans-serif;
	font-size: 40px;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
    line-height: 40px;
}
.contact__block {
	display: block;
	padding-bottom: 25px;
}

.contact__input {
	width: 500px;
	height: 46px;
	background: #b6b7c7;
	outline: 0;
	border: 0;
    padding-left: 15px;
    box-sizing: border-box;
	color: #2b2d5c;
	font-size: 17px;
	font-family: 'Muli', sans-serif;
	resize: none;
}
.contact__input--big {
	height: 88px;
}

.contact__input::placeholder {
	color: #2b2d5c;
	font-size: 17px;
}

  

/*-------------Footer (Screen #7) -----------*/

.footer {
	background: #2b2d5c;
	box-sizing: border-box;
	padding-top: 50px;
	border-bottom: 1px #55577d solid;
}
.footer__contact {
	width: 210px;
}

.footer__subtitle {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding-top: 39px;
}

.footer__adress {
	font-size: 14px;
	color: #fff;
	padding-top: 20px;
	line-height: 1.571;
}

.footer__adress a {
	color: #fff;
}

.footer__social {
	padding-bottom: 30px;
}
.footer__social i {
	padding-top: 10px;
	padding-right: 14px;
	color: #fff;
	font-size: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.footer__social i:hover {
	color: #FFEB00;
}

.footer__latest {
	width: 365px;
}

.footer__title {
	font-size: 24px;
	color: #fff;
	padding-bottom: 30px;
}

.footer__post {
	font-size: 14px;
	color: #fff;
	padding-bottom: 30px;
}
.footer__post a {
	color: #fff;
}
.footer__post img {
	padding-right: 30px;
}

.footer__post span {
	display: block;
	font-weight: bold;
}

.footer__list a {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 12px;
	padding-left: 6px;
}

.footer__instagram {
	width: 211px;
}

.footer__instagram img {
	margin-left: 8px;
	margin-bottom: 8px;
}

.footer__instagram_img  {
	position: absolute;
}

.footer__copyright {
	font-size: 14px;
	background: #2b2d5c;
	height: 60px;
	text-align: center;
	color: #fff;
	font-weight: 200;
	line-height: 60px;
	border-top: 1px #55577d solid;
	margin-top: 45px;
	padding-left: 10px;
    padding-right: 10px;
}

.footer__copyright span {
	opacity: 0.25;
}

/*-------------Button Style-----------*/

.button {
	background: #FFEB00;
	font-size: 15px;
	text-align: center;
	color: #2b2d5c;
	width: 221px;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
}

.button:hover {
	filter: contrast(110%);
}

.button:active {         
	position: relative;  
	top: 2px; 
}
.button:focus {
	outline: 0;
}

.button--purple {
	background: #2b2d5c;
	width: 285px;
	color: #fefeff;
	margin-top: 60px;
}

.button--transparent {
	background: transparent;
	border: 2px #FFEB00 solid;
	margin-top: 30px;
	margin-left: 50px;
	box-sizing: border-box;
}

.button--yellow {
	background: #ffcc00;
	margin: 0 auto;
	text-transform: uppercase;
	border: 0;
}

.button__up {
	background: #cbcbd7;
	width: 70px;
	height: 57px;
	float: right;
	text-align: center;
}

.button__up i {
	line-height: 57px;
}


/*-------------Animation-----------*/


@keyframes swing {
	15% {
	  transform: translateY(2px);
	}
	30% {
	  transform: translateY(-2px);
	}
	50% {
	  transform: translateY(2px);
	}
	65% {
	  transform: translateY(-2px);
	}
	80% {
	  transform: translateY(2px);
	}
	100% {
	  transform: translateY(-2px);
	}
  }
  
/*-------------Adaptive-----------*/


@media (max-width: 1615px) {
	.portfolio__title {
		padding: 220px 35px 0 35px;
	}
}

@media (max-width: 1575px) {
	.row--portfolio {
		justify-content: space-around;
	}
	.portfolio__left {
		border-right: 0;
		margin: 0 10px 30px 10px;
		margin-bottom: 30px;
	}
	.portfolio__left::after {
		display: none;
	}
	.portfolio__right {
		margin-right: 0;
	}
	.button--transparent {
		margin-top: 0;
	}
	.about__right {
		margin-right: 0;
		margin-left: 36px;
	}
	.blog__block_left, .blog__block_center, .blog__block_right {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 1350px) {
	.about {
		height: auto;
	}
	.about__block {
		padding-bottom: 36px;
	}
	.blog {
		max-height: none;
	}
	.row--about {
		justify-content: center;
	}
	.button--purple {
		margin: 0 auto;
	}
}

@media (max-width: 950px) {
	.clients__title {
		padding: 50px 0 30px 0;
	}
	.footer .wrapper .row {
		justify-content: center;
	}
	.clients .wrapper .row {
		justify-content: center;
	}
	.footer__contact, .footer__latest, .footer__link, .footer__instagram, .clients__image {
		padding-left: 10px;
		padding-right: 10px;
	}
	.about__title, .about__text, .about__work {
		text-align: center;
	}
}
@media (min-width: 750px) {
	.social__item--mobile {
		display: none;
	}

}

@media (max-width: 750px) {
	.header {
		height: auto;
		background-position-x: 67%;
	}
	.header__line {
		display: block;
		padding: 33px 0 0;
		text-align: center;
	}
	.header__plus {
		left: 0;
		margin: 0 auto;
	}
	.header__title, .header__description {
		text-align: center;
	}
	.header__menu {
		padding-top: 12px;
	}
	.button {
		margin: 0 auto;
	}
	.header__plus {
		display: none;
	}
	.header__bottom {
		margin-top: -130px;
	}
	.social__item {
		display: none;
		position: static;
	}
	.social__item i {
		padding-left: 10px;
		padding-right: 10px;
	}
	.social__item--mobile {
		margin-top: 24px;
		display: block;
		text-align: center;
	}
	.about__left img {
		max-width: 100%;
	}
	.about__right {
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.button--transparent {
		margin-bottom: 30px;
	}
	.blog__more {
		padding-bottom: 30px;
	}
	.contact {
		margin-top: 0;
	}
	.portfolio__block {
		margin-left: 10px;
		margin-right: 10px;
	}
	.portfolio__right {
		text-align: center;
	}
	.footer .wrapper .row {
		flex-direction: column;
		align-items: center;
   	 	text-align: center;
	}
	.portfolio__title {
		width: auto;
	}
	.portfolio__center .portfolio__block {
		margin-left: 10px;
	 }
	 

	.blog__plus {
		display: none;
	}

	.blog__block_left, .blog__block_center, .blog__block_right {
		width: auto;
	}

	.row.row--around {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.row.row--around > .blog__block_left {
		order: 2;
	 }

	.row.row--around > .blog__block_center {
		order: 1; 
	} 

	.row.row--around > .blog__block_right {
		order: 3; 
	}

	.blog__tile:hover {
		box-shadow: none;
	}
	.header__scroll {
		margin-top: 120px;
	}
	.header__scroll:hover {
		margin-top: 122px;
	}
	.footer__post img {
		padding-right: 10px;
	}
	.footer__post {
		text-align: left;
	}
}


@media (max-width: 550px) {
	.header__menu a {
		display: block;
		margin-left: 0;
	}
	.header__menu a:hover {
		border: 0;
		padding: 0;
	}
	.clients {
		height: auto;
		background-size: cover;
	}
	.clients__title {
		padding: 25px 0 30px 0;
	}
	.clients__plus {
		display: none;
	}
	.contact__input {
		width: 290px;
	}
	.portfolio__title {
		padding: 24px 15px 24px 15px;
	}
	.portfolio__left {
		height: auto;
	}
	.about__right .row {
		flex-direction: column;
		align-items: center;
    	text-align: center;
	}
	.clients .wrapper .row {
		flex-direction: column;
		align-items: center;
    	text-align: center;
	}
	.footer__latest {
		width: 290px;
	}
	.about__place {
		padding-top: 48px;
		padding-bottom: 30px;
	}
	.about, .clients, .portfolio  {
		margin-bottom: 48px;
	}
	.blog {
		padding-top: 0;
	}
	.button__up {
		height: 47px;
		margin-top: 10px;
	}
	.button__up i {
		line-height: 47px;
	}
	.header__square, .header__social {
		background: none;
		width: auto;
	}
}

